.dark-medium-contrast {
  --md-sys-color-primary: rgb(152 233 244);
  --md-sys-color-surface-tint: rgb(130 211 222);
  --md-sys-color-on-primary: rgb(0 42 47);
  --md-sys-color-primary-container: rgb(74 156 167);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(195 226 230);
  --md-sys-color-on-secondary: rgb(11 42 45);
  --md-sys-color-secondary-container: rgb(120 150 154);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(238 210 255);
  --md-sys-color-on-tertiary: rgb(52 24 74);
  --md-sys-color-tertiary-container: rgb(165 132 189);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 21);
  --md-sys-color-on-background: rgb(224 227 227);
  --md-sys-color-surface: rgb(16 20 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(62 73 74);
  --md-sys-color-on-surface-variant: rgb(212 222 224);
  --md-sys-color-outline: rgb(169 180 181);
  --md-sys-color-outline-variant: rgb(136 146 148);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 227 227);
  --md-sys-color-inverse-on-surface: rgb(39 43 43);
  --md-sys-color-inverse-primary: rgb(0 80 88);
  --md-sys-color-primary-fixed: rgb(159 240 251);
  --md-sys-color-on-primary-fixed: rgb(0 20 23);
  --md-sys-color-primary-fixed-dim: rgb(130 211 222);
  --md-sys-color-on-primary-fixed-variant: rgb(0 61 67);
  --md-sys-color-secondary-fixed: rgb(201 232 237);
  --md-sys-color-on-secondary-fixed: rgb(0 20 23);
  --md-sys-color-secondary-fixed-dim: rgb(174 204 208);
  --md-sys-color-on-secondary-fixed-variant: rgb(30 58 62);
  --md-sys-color-tertiary-fixed: rgb(242 218 255);
  --md-sys-color-on-tertiary-fixed: rgb(30 1 53);
  --md-sys-color-tertiary-fixed-dim: rgb(221 185 246);
  --md-sys-color-on-tertiary-fixed-variant: rgb(70 41 92);
  --md-sys-color-surface-dim: rgb(16 20 21);
  --md-sys-color-surface-bright: rgb(65 69 70);
  --md-sys-color-surface-container-lowest: rgb(5 8 8);
  --md-sys-color-surface-container-low: rgb(26 30 31);
  --md-sys-color-surface-container: rgb(36 41 41);
  --md-sys-color-surface-container-high: rgb(47 51 52);
  --md-sys-color-surface-container-highest: rgb(58 62 63);
  --md-extended-color-custom-color1-color: rgb(255 210 207);
  --md-extended-color-custom-color1-on-color: rgb(84 0 10);
  --md-extended-color-custom-color1-color-container: rgb(255 107 107);
  --md-extended-color-custom-color1-on-color-container: rgb(35 0 2);
  --md-extended-color-custom-color2-color: rgb(255 212 182);
  --md-extended-color-custom-color2-on-color: rgb(62 29 0);
  --md-extended-color-custom-color2-color-container: rgb(244 162 97);
  --md-extended-color-custom-color2-on-color-container: rgb(67 31 0);
  --md-extended-color-custom-color3-color: rgb(237 211 255);
  --md-extended-color-custom-color3-on-color: rgb(59 0 102);
  --md-extended-color-custom-color3-color-container: rgb(185 108 253);
  --md-extended-color-custom-color3-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color4-color: rgb(224 215 255);
  --md-extended-color-custom-color4-on-color: rgb(38 0 125);
  --md-extended-color-custom-color4-color-container: rgb(147 125 255);
  --md-extended-color-custom-color4-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color5-color: rgb(242 210 250);
  --md-extended-color-custom-color5-on-color: rgb(50 29 60);
  --md-extended-color-custom-color5-color-container: rgb(180 151 189);
  --md-extended-color-custom-color5-on-color-container: rgb(32 12 42);
}
