.dark-high-contrast {
  --md-sys-color-primary: rgb(202 248 255);
  --md-sys-color-surface-tint: rgb(130 211 222);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(126 207 218);
  --md-sys-color-on-primary-container: rgb(0 14 16);
  --md-sys-color-secondary: rgb(215 246 250);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(170 200 204);
  --md-sys-color-on-secondary-container: rgb(0 14 16);
  --md-sys-color-tertiary: rgb(250 235 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(217 181 242);
  --md-sys-color-on-tertiary-container: rgb(22 0 42);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(16 20 21);
  --md-sys-color-on-background: rgb(224 227 227);
  --md-sys-color-surface: rgb(16 20 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(62 73 74);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(231 242 243);
  --md-sys-color-outline-variant: rgb(186 197 198);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 227 227);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 80 88);
  --md-sys-color-primary-fixed: rgb(159 240 251);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(130 211 222);
  --md-sys-color-on-primary-fixed-variant: rgb(0 20 23);
  --md-sys-color-secondary-fixed: rgb(201 232 237);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(174 204 208);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 20 23);
  --md-sys-color-tertiary-fixed: rgb(242 218 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(221 185 246);
  --md-sys-color-on-tertiary-fixed-variant: rgb(30 1 53);
  --md-sys-color-surface-dim: rgb(16 20 21);
  --md-sys-color-surface-bright: rgb(77 81 81);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(28 32 33);
  --md-sys-color-surface-container: rgb(45 49 50);
  --md-sys-color-surface-container-high: rgb(56 60 61);
  --md-sys-color-surface-container-highest: rgb(67 71 72);
  --md-extended-color-custom-color1-color: rgb(255 236 234);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(255 173 170);
  --md-extended-color-custom-color1-on-color-container: rgb(34 0 2);
  --md-extended-color-custom-color2-color: rgb(255 236 226);
  --md-extended-color-custom-color2-on-color: rgb(0 0 0);
  --md-extended-color-custom-color2-color-container: rgb(255 178 118);
  --md-extended-color-custom-color2-on-color-container: rgb(23 7 0);
  --md-extended-color-custom-color3-color: rgb(250 235 255);
  --md-extended-color-custom-color3-on-color: rgb(0 0 0);
  --md-extended-color-custom-color3-color-container: rgb(220 178 255);
  --md-extended-color-custom-color3-on-color-container: rgb(22 0 43);
  --md-extended-color-custom-color4-color: rgb(243 237 255);
  --md-extended-color-custom-color4-on-color: rgb(0 0 0);
  --md-extended-color-custom-color4-color-container: rgb(198 186 255);
  --md-extended-color-custom-color4-on-color-container: rgb(11 0 54);
  --md-extended-color-custom-color5-color: rgb(253 234 255);
  --md-extended-color-custom-color5-on-color: rgb(0 0 0);
  --md-extended-color-custom-color5-color-container: rgb(215 184 224);
  --md-extended-color-custom-color5-on-color-container: rgb(22 3 32);
}
