.dark {
  --md-sys-color-primary: rgb(130 211 222);
  --md-sys-color-surface-tint: rgb(130 211 222);
  --md-sys-color-on-primary: rgb(0 54 60);
  --md-sys-color-primary-container: rgb(0 109 119);
  --md-sys-color-on-primary-container: rgb(155 236 247);
  --md-sys-color-secondary: rgb(174 204 208);
  --md-sys-color-on-secondary: rgb(24 53 56);
  --md-sys-color-secondary-container: rgb(49 78 82);
  --md-sys-color-on-secondary-container: rgb(160 190 194);
  --md-sys-color-tertiary: rgb(221 185 246);
  --md-sys-color-on-tertiary: rgb(64 36 86);
  --md-sys-color-tertiary-container: rgb(117 86 140);
  --md-sys-color-on-tertiary-container: rgb(240 214 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(16 20 21);
  --md-sys-color-on-background: rgb(224 227 227);
  --md-sys-color-surface: rgb(16 20 21);
  --md-sys-color-on-surface: rgb(224 227 227);
  --md-sys-color-surface-variant: rgb(62 73 74);
  --md-sys-color-on-surface-variant: rgb(190 200 202);
  --md-sys-color-outline: rgb(136 147 148);
  --md-sys-color-outline-variant: rgb(62 73 74);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 227 227);
  --md-sys-color-inverse-on-surface: rgb(45 49 50);
  --md-sys-color-inverse-primary: rgb(0 105 114);
  --md-sys-color-primary-fixed: rgb(159 240 251);
  --md-sys-color-on-primary-fixed: rgb(0 31 35);
  --md-sys-color-primary-fixed-dim: rgb(130 211 222);
  --md-sys-color-on-primary-fixed-variant: rgb(0 79 86);
  --md-sys-color-secondary-fixed: rgb(201 232 237);
  --md-sys-color-on-secondary-fixed: rgb(0 31 35);
  --md-sys-color-secondary-fixed-dim: rgb(174 204 208);
  --md-sys-color-on-secondary-fixed-variant: rgb(47 75 79);
  --md-sys-color-tertiary-fixed: rgb(242 218 255);
  --md-sys-color-on-tertiary-fixed: rgb(42 13 64);
  --md-sys-color-tertiary-fixed-dim: rgb(221 185 246);
  --md-sys-color-on-tertiary-fixed-variant: rgb(88 58 110);
  --md-sys-color-surface-dim: rgb(16 20 21);
  --md-sys-color-surface-bright: rgb(54 58 58);
  --md-sys-color-surface-container-lowest: rgb(11 15 15);
  --md-sys-color-surface-container-low: rgb(24 28 29);
  --md-sys-color-surface-container: rgb(28 32 33);
  --md-sys-color-surface-container-high: rgb(39 43 43);
  --md-sys-color-surface-container-highest: rgb(49 53 54);
  --md-extended-color-custom-color1-color: rgb(255 179 176);
  --md-extended-color-custom-color1-on-color: rgb(104 0 15);
  --md-extended-color-custom-color1-color-container: rgb(255 107 107);
  --md-extended-color-custom-color1-on-color-container: rgb(109 0 16);
  --md-extended-color-custom-color2-color: rgb(255 196 153);
  --md-extended-color-custom-color2-on-color: rgb(78 38 0);
  --md-extended-color-custom-color2-color-container: rgb(244 162 97);
  --md-extended-color-custom-color2-on-color-container: rgb(111 56 0);
  --md-extended-color-custom-color3-color: rgb(223 183 255);
  --md-extended-color-custom-color3-on-color: rgb(75 0 126);
  --md-extended-color-custom-color3-color-container: rgb(106 13 173);
  --md-extended-color-custom-color3-on-color-container: rgb(212 161 255);
  --md-extended-color-custom-color4-color: rgb(202 190 255);
  --md-extended-color-custom-color4-on-color: rgb(48 0 154);
  --md-extended-color-custom-color4-color-container: rgb(93 63 211);
  --md-extended-color-custom-color4-on-color-container: rgb(216 206 255);
  --md-extended-color-custom-color5-color: rgb(219 188 228);
  --md-extended-color-custom-color5-on-color: rgb(62 40 71);
  --md-extended-color-custom-color5-color-container: rgb(180 151 189);
  --md-extended-color-custom-color5-on-color-container: rgb(70 47 79);
}
