:root {
  --md-sys-color-primary: rgb(0 61 67);
  --md-sys-color-surface-tint: rgb(0 105 114);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 109 119);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(30 58 62);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(85 114 118);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(70 41 92);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(117 86 140);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(247 250 250);
  --md-sys-color-on-background: rgb(24 28 29);
  --md-sys-color-surface: rgb(247 250 250);
  --md-sys-color-on-surface: rgb(14 18 18);
  --md-sys-color-surface-variant: rgb(218 228 230);
  --md-sys-color-on-surface-variant: rgb(46 56 57);
  --md-sys-color-outline: rgb(74 84 86);
  --md-sys-color-outline-variant: rgb(101 111 112);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 49 50);
  --md-sys-color-inverse-on-surface: rgb(238 241 242);
  --md-sys-color-inverse-primary: rgb(130 211 222);
  --md-sys-color-primary-fixed: rgb(27 120 130);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 94 103);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(85 114 118);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(61 89 93);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(128 96 151);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(102 72 125);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(196 199 199);
  --md-sys-color-surface-bright: rgb(247 250 250);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 244 244);
  --md-sys-color-surface-container: rgb(230 233 233);
  --md-sys-color-surface-container-high: rgb(218 221 222);
  --md-sys-color-surface-container-highest: rgb(207 210 210);
  --md-extended-color-custom-color1-color: rgb(115 0 18);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(194 62 65);
  --md-extended-color-custom-color1-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color2-color: rgb(87 42 0);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(160 92 34);
  --md-extended-color-custom-color2-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color3-color: rgb(76 0 128);
  --md-extended-color-custom-color3-on-color: rgb(255 255 255);
  --md-extended-color-custom-color3-color-container: rgb(106 13 173);
  --md-extended-color-custom-color3-on-color-container: rgb(240 217 255);
  --md-extended-color-custom-color4-color: rgb(54 0 170);
  --md-extended-color-custom-color4-on-color: rgb(255 255 255);
  --md-extended-color-custom-color4-color-container: rgb(93 63 211);
  --md-extended-color-custom-color4-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color5-color: rgb(68 46 77);
  --md-extended-color-custom-color5-on-color: rgb(255 255 255);
  --md-extended-color-custom-color5-color-container: rgb(126 100 135);
  --md-extended-color-custom-color5-on-color-container: rgb(255 255 255);
}