.light {
  --md-sys-color-primary: rgb(0 83 91);
  --md-sys-color-surface-tint: rgb(0 105 114);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 109 119);
  --md-sys-color-on-primary-container: rgb(155 236 247);
  --md-sys-color-secondary: rgb(71 99 103);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(201 232 237);
  --md-sys-color-on-secondary-container: rgb(77 105 109);
  --md-sys-color-tertiary: rgb(92 62 114);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(117 86 140);
  --md-sys-color-on-tertiary-container: rgb(240 214 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(247 250 250);
  --md-sys-color-on-background: rgb(24 28 29);
  --md-sys-color-surface: rgb(247 250 250);
  --md-sys-color-on-surface: rgb(24 28 29);
  --md-sys-color-surface-variant: rgb(218 228 230);
  --md-sys-color-on-surface-variant: rgb(62 73 74);
  --md-sys-color-outline: rgb(111 121 122);
  --md-sys-color-outline-variant: rgb(190 200 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 49 50);
  --md-sys-color-inverse-on-surface: rgb(238 241 242);
  --md-sys-color-inverse-primary: rgb(130 211 222);
  --md-sys-color-primary-fixed: rgb(159 240 251);
  --md-sys-color-on-primary-fixed: rgb(0 31 35);
  --md-sys-color-primary-fixed-dim: rgb(130 211 222);
  --md-sys-color-on-primary-fixed-variant: rgb(0 79 86);
  --md-sys-color-secondary-fixed: rgb(201 232 237);
  --md-sys-color-on-secondary-fixed: rgb(0 31 35);
  --md-sys-color-secondary-fixed-dim: rgb(174 204 208);
  --md-sys-color-on-secondary-fixed-variant: rgb(47 75 79);
  --md-sys-color-tertiary-fixed: rgb(242 218 255);
  --md-sys-color-on-tertiary-fixed: rgb(42 13 64);
  --md-sys-color-tertiary-fixed-dim: rgb(221 185 246);
  --md-sys-color-on-tertiary-fixed-variant: rgb(88 58 110);
  --md-sys-color-surface-dim: rgb(215 218 219);
  --md-sys-color-surface-bright: rgb(247 250 250);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 244 244);
  --md-sys-color-surface-container: rgb(235 238 239);
  --md-sys-color-surface-container-high: rgb(230 233 233);
  --md-sys-color-surface-container-highest: rgb(224 227 227);
  --md-extended-color-custom-color1-color: rgb(174 47 52);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(255 107 107);
  --md-extended-color-custom-color1-on-color-container: rgb(109 0 16);
  --md-extended-color-custom-color2-color: rgb(142 78 20);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(244 162 97);
  --md-extended-color-custom-color2-on-color-container: rgb(111 56 0);
  --md-extended-color-custom-color3-color: rgb(76 0 128);
  --md-extended-color-custom-color3-on-color: rgb(255 255 255);
  --md-extended-color-custom-color3-color-container: rgb(106 13 173);
  --md-extended-color-custom-color3-on-color-container: rgb(212 161 255);
  --md-extended-color-custom-color4-color: rgb(69 30 187);
  --md-extended-color-custom-color4-on-color: rgb(255 255 255);
  --md-extended-color-custom-color4-color-container: rgb(93 63 211);
  --md-extended-color-custom-color4-on-color-container: rgb(216 206 255);
  --md-extended-color-custom-color5-color: rgb(111 85 120);
  --md-extended-color-custom-color5-on-color: rgb(255 255 255);
  --md-extended-color-custom-color5-color-container: rgb(180 151 189);
  --md-extended-color-custom-color5-on-color-container: rgb(70 47 79);
}
